/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  justify-content: center;
}

form {
  width: 25vw;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form > div:nth-child(-n + 5) {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

form > div:nth-child(n + 5) {
  display: grid;
  justify-content: center;
}

form div label {
  grid-row: 1 / 2;
}

form div input {
  grid-row: 2 / 3;
}

form div div {
  grid-row: 3 / 4;
}

.active {
  color: red;
}

.invalid {
  outline: 1px solid red;
}
